.col-sm-12.col-md-4.col-xl-3.pull-left
  .form-group
    p  
    select.form-control(name="category" id="category")
      option(value="1" selected=(want ? (want.category === "1" ? "selected" : undefined) : undefined)) Apparel
      option(value="2" selected=(want ? (want.category === "2" ? "selected" : undefined) : undefined)) Housewares
      option(value="3" selected=(want ? (want.category === "3" ? "selected" : undefined) : undefined)) Miscellaneous 
      option(value="4" selected=(want ? (want.category === "4" ? "selected" : undefined) : undefined)) Technology
  
