.categories
  i.fa.fa-filter.fa-3x
    img.filterIcon(src="/images/filter.png")
  .options
    .goods
      input.cbox(type='checkbox', id="cbox1", value='goods')
      label(for='cbox1') Goods
    .music
      input.cbox(type='checkbox', id="cbox2", value='music')
      label(for='cbox2') Music
    .artAndCulture
      input.cbox(type='checkbox', id="cbox3", value='art_and_culture')
      label(for='cbox3') Art & Culture
    .outdoors
      input.cbox(type='checkbox', id="cbox4", value='outdoors')
      label(for='cbox4') Outdoors
    .family
      input.cbox(type='checkbox', id="cbox5", value='family')
      label(for='cbox5') Family
