.row
  .large-header-logo.col-sm-12.col-md-8.col-md-offset-2
    h1 freedenver.co
  .large-header-links.col-sm-12.col-md-4.col-md-offset-6
    .col-sm-4.pull-left
      p
        a(href="/signup") Sign Up
    .col-sm-4.pull-left
      p
        a(href="/signin") Sign In
    .col-sm-4.pull-left
      p
        a(href="/signout") Sign Out
