.row
  .col-sm-12.col-md-8.col-md-offset-2
    .col-sm-6.col-md-2.pull-left
      p
        a(href="/signup") Sign Up
    .col-sm-6.col-md-2.pull-left
      p
        a(href="/signin") Sign In
    .col-sm-6.col-md-2.pull-left
      p
        a(href="/signout") Sign Out
