extends ../layout

block content
  .container-fluid
    include ../../includes/large-logo-header.jade  
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2(style="height:365px;")
        p
          h1 About freedenver.co
        p(style="margin-top:55px;")
          h3.text-right “I need more frugality. I wonder where I can buy some.” 
          h5.text-center Jarod Kintz
        p(style="margin-top:55px;")
        | If you believe the best things in life are free then you've come to the right place.  This page is devoted to finding a 
        | variety of activities without having to break the bank.  Whether you're into 
        a(href='/freebies/museums') art
        | , 
        a(href='/freebies/hiking') hiking
        | , 
        a(href='/freebies/yoga') yoga
        |     or meeting new people youll find something interesting to do here.  
    include ../../includes/footer.jade  
