extends ../layout

block content
  .container-fluid
    include ../../includes/large-logo-header.jade  
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2(style="padding:10px;")
        h3 About Free Denver
        p
        | If you believe the best things in life are free then you've come to the right place.  This page is devoted to finding a 
        | variety of activities without having to break the bank.  Whether you're into 
        a(href='/freebies/5') art
        | , 
        a(href='/freebies/3') hiking
        | , 
        a(href='/freebies/8') yoga
        |     or meeting new people youll find something here.
        .centershit
            include ../../includes/partner-nav.jade 
    include ../../includes/footer.jade  
