extends ../layout

block content

  .container-fluid
    include ../../includes/large-logo-header.jade  
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2(style="padding:10px;")
        h3 Contact Us
        
        form(action='mailto:test@test.com')
          p
            label(for="email") Email
            br
            input.form-control(type="email" placeholder="Email")
          p
            label(for="message") Message
            br
            input.form-control(type="textarea" placeholder="Message")
          button(type="submit") Submit
          .centershit
              include ../../includes/partner-nav.jade 
  include ../../includes/footer.jade  
