extends ../layout

block content
  .container-fluid
    include ../includes/large-logo-header.jade  
    include ../includes/partner-nav.jade  
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2
        h1 Become a Corporate Partner today!
        p This is why you should be a part of freedenver.co
        p These will be our existing partners
