extends ../layout

block content
  .container-fluid
    include ../includes/large-logo-header.jade  
    include ../includes/partner-nav.jade  
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2
        h1 Become a Corporate Partner today!
        p Are you looking for exposure to new consumers?  Freedenver.co can promote your business to 
          visitors and residents of Denver.  Our mission is to become the go-to spot for the frugal consumers. 
        h1.text-center Partners
        
        
        
        
