body {
  background-image: url('../images/denversunset.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-color: black;*/
}

.errors {
  color: red;
}

.mainthings {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-bottom: 25px;
}

.large-header-logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 150px;
  color: black;
  margin-bottom: 50px;
}

<<<<<<< HEAD
.parallax{
  background-image: url(../images/denver-watercolor.png);
  height: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-default{
  min-height: 90px;
}
.nav>li>a:hover,
.nav>li:focus{
  background-color: transparent;
}

.categories{
  margin-bottom: 10%;
  border: 1px solid green;
  width: 25% !important;
  margin: 0 auto;
}
.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.event {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: rgba(30, 93, 106, 0.6);
  margin: 2vh;
  margin: auto;
}
.parralax {
  display: flex;
}
.freebieTitle {
  margin: auto;
}
.createFreebie {
  margin-right: 5vw;
}
.location {
  margin: auto;
=======
.fffooter {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 15px;
>>>>>>> 7680de6d53a76e12b0ec6fedbda9126361750988
}
