body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.fb_reset{
  display: none;
}

.fb-buttons{
  float: right;
}

.logout{
  background-color: #3F5AA7;
  color: white;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  border-radius: 10%;
  border: none;
}
 h1, .title{
   text-align: center;
   margin: 0 auto;
 }

.parallax{
  background-image: url(../images/denver-watercolor.png);
  height: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-default{
  min-height: 90px;
}
.nav>li>a:hover,
.nav>li:focus{
  background-color: transparent;
}
.freebies  {
  width: 25% !important;
  margin: 0 auto;
}
.categories{
  margin-bottom: 10%;
}
.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.event {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: rgba(30, 93, 106, 0.6);
  margin: 2vh;
  margin: auto;
}
.parralax {
  display: flex;
}
.freebieTitle {
  margin: auto;
}
.location {
  margin: auto;
}
