/*body {
  background-image: url('../images/denversunset.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}*/

.errors {
  color: red;
}

.mainthings {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-bottom: 25px;
}

.large-header-logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 150px;
  color: black;
  margin-bottom: 50px;
}

.small-header-logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: black;
}

.fffooter {
  background-color: rgba(0, 0, 0, 0.8);
}

.categories {
  border-radius: 10px;
  position: absolute;;
  top: 54%;
  width: auto;
  height: auto;
  padding: 2vh;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.8);
}

#sticky.stick {
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 2vh;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.8);
}

#sticky {
}

label {
  margin-left: 1vh;
}

.fa {
  width: 100%;
}

.filterIcon {
  height: 5vh;
  width: auto;
}

label {
  font-size: 2vw;
  margin: auto;
  margin-left: 1vh;
  color: #2b2b2b;
}
.g-signin2 {
  display: inline-block;
}
.signOut {
  float: right;
  height: 10vh;
  width: auto;
  border-radius: 10px;
  margin-right: 2vh;
}
