extends ../layout

block content
  h1 This is the megauser signup page
  form(action="/users" method="post")
    .form-group
      input.form-control(type='text' name='name' placeholder='Choose a Company Name')
    .form-group
      input.form-control(type='text' name='url' placeholder='Choose a Company URL')
    .form-group
      input.form-control(type='text' name='username' placeholder='Choose a User Name')
    .form-group   
      input.form-control(type='password' name='password' placeholder='Choose a Password')
    .form-group.footer
      button.btn.btn-warning#clickmeclickme1.form-control(type='submit') Sign Up 
