extends ../layout

block content
  h1 This is the sign in page
  form(action="/signin" method="post")
            .form-group
              input.form-control(type='text' name='username')
            .form-group
              input.form-control(type='password' name='password')
            .form-group.footer
              p
                input.btn.btn-default#clickmeclickme2.form-control(type='submit' value='Signin')
              p
                a.btn.form-control.btn-warning(href="/users/new" id="sssignup") Sign Up
