extends ../layout

block content
  .container-fluid
    include ../../includes/large-logo-header.jade            
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2
        h1 Sign in to your freedenver.co Company account
        if errors
        form(action="/signin" method="post")
          .form-group
            input.form-control(type='text' name='username')
          .form-group
            input.form-control(type='password' name='password') 
          .form-group.footer
            p
              input.btn.btn-default#clickmeclickme2.form-control(type='submit' value='Signin')
            p
              a.btn.form-control.btn-warning(href="/signup" id="sssignup") Sign Up
            
          .g-signin2(data-onsuccess='onSignIn')
            a.signOut(href='/', onclick='signOut();') Google Sign out
    include ../../includes/footer.jade  
