.row
  .fffooter.col-sm-12.col-md-8.col-md-offset-2.footernav
    .col-sm-12.col-md-2
      p
<<<<<<< HEAD
        a(href="/info/become-a-partner") Partner Info
=======
        a(href="/info/become-a-partner") Become a Partner
>>>>>>> 6e4222596e1d1bc095d428ad2dfe6f2feaf6dc5e
    .col-sm-12.col-md-2
      p
        a(href="/info/about") About
    .col-sm-12.col-md-2
      p
        a(href="/info/contact") Contact
