.row
  .fffooter.col-sm-12.col-md-8.col-md-offset-2
    .col-sm-12.col-md-2
      p
        a(href="/info/become-a-partner") Become a Partner
    .col-sm-12.col-md-2
      p
        a(href="/info/about") About
    .col-sm-12.col-md-2
      p
        a(href="/info/contact") Contact
