.row
  .fffooter.col-sm-12.col-md-8.col-md-offset-2
    .centershit
      ul
        li.pull-left
          a(href="/info/become-a-partner") Become Partner
        li.pull-left
          a(href="/info/about") About
        li.pull-left
          a(href="/info/contact") Contact
      br
      br    
      p(style="color:white;")
        | &copy;
        img(src="/images/freedenverwhite.png" alt="freedenver.co" width="100px")
