.col-sm-12.col-md-12.col-xl-12
  include ./errors.jade
  .form-group.hidden
    if user
      p
        input(type="text" id="creator_id" name='creator_id' value='#{user.id}' required)
  .form-group
    p
      label(for="name") Name
      br
      input.form-control(type="text" id="name" name='name' placeholder="Name" value= (user ? user.name : '') required)
  .form-group
    p
      label(for="location") Address
      br
      input.form-control(type="text" id="location" name='location' placeholder="Location" value= (freebie ? freebie.location : '') required)
  .form-group
    p
      label(for="start_date") Start Date
      br
      input.form-control(type="date" id="start_date" name='start_date' value= (freebie ? freebie.start_date : ''))
  .form-group
    p
      label(for="end_date") End Date
      br
      input.form-control(type="date" id="end_date" name='end_date' value= (freebie ? freebie.end_date : ''))
  .form-group
    p
      label(for="details") Details
      br
      textarea.form-control(rows="5" id='details' name='text')= (freebie) ? freebie.text : ''
  .form-group
    p
      label(for="url") Event URL
      br
      input.form-control(type="text" id="url" name='url' placeholder="Event URL" value= (freebie ? freebie.url : ''))
