extends ../layout

block content
  h1 This is the edit freebies page
  if freebies
    form(method='post' action='/freebies/'+freebies.id+'')
      include ../includes/freebie-form.jade
      br
      button: a(href='/freebies/'+freebies.id+'/delete') Delete
