extends ../layout

block content
  h1 This is the activies show page
  //- a.createFreebie(href="freebies/new") Create Freebie
  //- .calendar
  //-   for freebie in freebies 
  //-     .event
  //-       .freebieTitle= freebie.name
  //-       .location= freebie.location
  //-       a.edit(href="/freebies/" + freebie.id + '/edit') Edit
