extends ../layout

block content
  h1 This is the new freebies page
  form(method='post' action='/freebies')  
    label(for='name') Name
    br
    input(type='text' id='name' name='name' placeholder='Name')
    br 
    label(for='location') Location
    br
    input(type='text' id='location' name='location' placeholder='Location')
    br
    label(for='details') Details
    br
    textarea(id='details', name='details' placeholder='Details')
    br
    button: a(href='/freebies') Cancel
    br
    button(type='submit') Submit
