extends ../layout

block content
  include ../../includes/large-logo-header.jade
  .row 
    .mainthings.col-sm-12.col-md-8.col-md-offset-2
      h1 Add a new Freebie
      form(method='post' action='/#{user.username}/freebies')
        include ../../includes/freebie-form.jade
        .form-group.footer
          p
            button.btn.btn-default.form-control(id="submitnewfreebie" type="submit") Submit 
          p
            a.btn.btn-danger.form-control(href='/freebies') Cancel
